POSTGRES_PASSWORD
POSTGRES_USER
POSTGRES_DB
POSTGRES_HOST
POSTGRES_PORT
PGDATA
DEBUG
DJANGO_ALLOWED_HOSTS
CELERY_BROKER
CELERY_BACKEND
EMAIL_BACKEND
EMAIL_HOST # Your email service provider's SMTP server
EMAIL_PORT
EMAIL_USE_TLS
EMAIL_HOST_USER  # Your email address
EMAIL_HOST_PASSWORD  # Your email password
DEFAULT_FROM_EMAIL